Import

In [8]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String, Float, DateTime, ForeignKey,insert,select
from datetime import datetime
from dotenv import load_dotenv
import os

LOAD .env

In [9]:
load_dotenv()
# load info from .env
DB_HOST = os.getenv("DB_HOST")
DB_PORT = os.getenv("DB_PORT")
DB_NAME = os.getenv("DB_NAME")
DB_USER = os.getenv("DB_USER")
DB_PASSWORD = os.getenv("DB_PASSWORD")

CREATION DE CONNECTION AVEC DATA BASE

In [10]:
# url for connection
DATABASE_URL = f"postgresql+psycopg2://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"
# create connection with database
engine = create_engine(DATABASE_URL, echo=True)

creation des tables

In [11]:
metadata=MetaData()

# tables
clients = Table(
    "clients", metadata,
    Column("client_id", Integer, primary_key=True),
    Column("first_name", String(100), nullable=False),
    Column("last_name", String(100), nullable=False),
    Column("email", String(255), unique=True),
    Column("phone_number", String(20))
)


destinations = Table(
    "destinations", metadata,
    Column("destination_id", Integer, primary_key=True),
    Column("name", String(150), nullable=False),
    Column("country", String(100)),
    Column("price_per_person", Float, nullable=False)
)


bookings = Table(
    "bookings", metadata,
    Column("booking_id", Integer, primary_key=True),
    Column("client_id", Integer, ForeignKey("clients.client_id"), nullable=False),
    Column("booking_date", DateTime, default=datetime.utcnow),
    Column("total_price", Float)
)


booking_items = Table(
    "booking_items", metadata,
    Column("item_id", Integer, primary_key=True),
    Column("booking_id", Integer, ForeignKey("bookings.booking_id"), nullable=False),
    Column("destination_id", Integer, ForeignKey("destinations.destination_id"), nullable=False),
    Column("travelers_count", Integer, nullable=False)
)

# create tables
metadata.create_all(engine)

2025-07-09 14:26:18,436 INFO sqlalchemy.engine.Engine select pg_catalog.version()
2025-07-09 14:26:18,438 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-07-09 14:26:18,441 INFO sqlalchemy.engine.Engine select current_schema()
2025-07-09 14:26:18,442 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-07-09 14:26:18,444 INFO sqlalchemy.engine.Engine show standard_conforming_strings
2025-07-09 14:26:18,445 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-07-09 14:26:18,446 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-09 14:26:18,453 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-07-09 14:26:18,455 INFO sqlalchemy.engine.Engine [generated in 0.00190s] {'table_name': 'clients', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-07-09 14:26:18,462 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-07-09 14:26:18,462 INFO sqlalchemy.engine.Engine [cached since 0.008852s ago] {'table_name': 'destinations', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-07-09 14:26:18,463 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-07-09 14:26:18,464 INFO sqlalchemy.engine.Engine [cached since 0.01126s ago] {'table_name': 'bookings', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-07-09 14:26:18,465 INFO sqlalchemy.engine.Engine SELECT pg_catalog.pg_class.relname
FROM pg_catalog.pg_class JOIN pg_catalog.pg_namespace ON pg_catalog.pg_namespace.oid = pg_catalog.pg_class.relnamespace
WHERE pg_catalog.pg_class.relname = %(table_name)s AND pg_catalog.pg_class.relkind = ANY (ARRAY[%(param_1)s, %(param_2)s, %(param_3)s, %(param_4)s, %(param_5)s]) AND pg_catalog.pg_table_is_visible(pg_catalog.pg_class.oid) AND pg_catalog.pg_namespace.nspname != %(nspname_1)s
2025-07-09 14:26:18,467 INFO sqlalchemy.engine.Engine [cached since 0.01388s ago] {'table_name': 'booking_items', 'param_1': 'r', 'param_2': 'p', 'param_3': 'f', 'param_4': 'v', 'param_5': 'm', 'nspname_1': 'pg_catalog'}
2025-07-09 14:26:18,470 INFO sqlalchemy.engine.Engine COMMIT

Insert data

In [12]:
with engine.begin() as conn:
    conn.execute(
        insert(clients),
        [
            {"first_name": "Alice", "last_name": "Smith", "email": "alice@example.com", "phone_number": "0601010101"},
            {"first_name": "Bob", "last_name": "Johnson", "email": "bob@example.com", "phone_number": "0602020202"},
            {"first_name": "Charlie", "last_name": "Lee", "email": "charlie@example.com", "phone_number": "0603030303"},
            {"first_name": "Dina", "last_name": "Mansour", "email": "dina@example.com", "phone_number": "0604040404"},
            {"first_name": "Elias", "last_name": "Nouri", "email": "elias@example.com", "phone_number": "0605050505"},
        ]
    )

    conn.execute(
        insert(destinations),
        [
            {"name": "Paris", "country": "France", "price_per_person": 250.0},
            {"name": "Tokyo", "country": "Japan", "price_per_person": 800.0},
            {"name": "Marrakech", "country": "Morocco", "price_per_person": 150.0},
            {"name": "New York", "country": "USA", "price_per_person": 600.0},
            {"name": "Barcelona", "country": "Spain", "price_per_person": 300.0},
        ]
    )

    conn.execute(
        insert(bookings),
        [
            {"client_id": 1, "booking_date": datetime(2025, 7, 1), "total_price": 500.0},
            {"client_id": 2, "booking_date": datetime(2025, 7, 2), "total_price": 800.0},
            {"client_id": 3, "booking_date": datetime(2025, 7, 3), "total_price": 600.0},
        ]
    )

    conn.execute(
        insert(booking_items),
        [
            {"booking_id": 1, "destination_id": 1, "travelers_count": 2},  # Paris
            {"booking_id": 1, "destination_id": 3, "travelers_count": 1},  # Marrakech
            {"booking_id": 2, "destination_id": 2, "travelers_count": 1},  # Tokyo
            {"booking_id": 3, "destination_id": 4, "travelers_count": 2},  # New York
            {"booking_id": 3, "destination_id": 5, "travelers_count": 1},  # Barcelona
        ]
    )

2025-07-09 14:26:18,489 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-09 14:26:18,491 INFO sqlalchemy.engine.Engine INSERT INTO clients (first_name, last_name, email, phone_number) VALUES (%(first_name__0)s, %(last_name__0)s, %(email__0)s, %(phone_number__0)s), (%(first_name__1)s, %(last_name__1)s, %(email__1)s, %(phone_number__1)s), (%(first_name__2)s, %(last_name__2)s, %(email__2)s, %(phone_number__2)s), (%(first_name__3)s, %(last_name__3)s, %(email__3)s, %(phone_number__3)s), (%(first_name__4)s, %(last_name__4)s, %(email__4)s, %(phone_number__4)s)
2025-07-09 14:26:18,493 INFO sqlalchemy.engine.Engine [generated in 0.00013s (insertmanyvalues) 1/1 (unordered)] {'phone_number__0': '0601010101', 'email__0': 'alice@example.com', 'first_name__0': 'Alice', 'last_name__0': 'Smith', 'phone_number__1': '0602020202', 'email__1': 'bob@example.com', 'first_name__1': 'Bob', 'last_name__1': 'Johnson', 'phone_number__2': '0603030303', 'email__2': 'charlie@example.com', 'first_name__2': 'Charlie', 'last_name__2': 'Lee', 'phone_number__3': '0604040404', 'email__3': 'dina@example.com', 'first_name__3': 'Dina', 'last_name__3': 'Mansour', 'phone_number__4': '0605050505', 'email__4': 'elias@example.com', 'first_name__4': 'Elias', 'last_name__4': 'Nouri'}
2025-07-09 14:26:18,504 INFO sqlalchemy.engine.Engine ROLLBACK

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "clients_email_key"
DETAIL:  Key (email)=(alice@example.com) already exists.

[SQL: INSERT INTO clients (first_name, last_name, email, phone_number) VALUES (%(first_name__0)s, %(last_name__0)s, %(email__0)s, %(phone_number__0)s), (%(first_name__1)s, %(last_name__1)s, %(email__1)s, %(phone_number__1)s), (%(first_name__2)s, %(last_name__2)s, %(email__2)s, %(phone_number__2)s), (%(first_name__3)s, %(last_name__3)s, %(email__3)s, %(phone_number__3)s), (%(first_name__4)s, %(last_name__4)s, %(email__4)s, %(phone_number__4)s)]
[parameters: {'phone_number__0': '0601010101', 'email__0': 'alice@example.com', 'first_name__0': 'Alice', 'last_name__0': 'Smith', 'phone_number__1': '0602020202', 'email__1': 'bob@example.com', 'first_name__1': 'Bob', 'last_name__1': 'Johnson', 'phone_number__2': '0603030303', 'email__2': 'charlie@example.com', 'first_name__2': 'Charlie', 'last_name__2': 'Lee', 'phone_number__3': '0604040404', 'email__3': 'dina@example.com', 'first_name__3': 'Dina', 'last_name__3': 'Mansour', 'phone_number__4': '0605050505', 'email__4': 'elias@example.com', 'first_name__4': 'Elias', 'last_name__4': 'Nouri'}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

Afficher tous les clients (first_name, email, phone_number).
Afficher les destinations dont le prix est supérieur à 1000 €.

In [23]:
clients = Table("clients", metadata, autoload_with=engine)
distinations = Table("destinations",metadata,autoload_with=engine)
with engine.connect() as conn:
    client=conn.execute(select(clients))
    distination = conn.execute(select(distinations).where(distinations.c.price_per_person>400))
    for row in client:
        print(f"{row.first_name} - {row.email} - {row.phone_number}")
    for row2 in distination:
        print(row2)

2025-07-09 14:41:18,468 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-07-09 14:41:18,469 INFO sqlalchemy.engine.Engine SELECT clients.client_id, clients.first_name, clients.last_name, clients.email, clients.phone_number
FROM clients
2025-07-09 14:41:18,471 INFO sqlalchemy.engine.Engine [cached since 773.6s ago] {}
2025-07-09 14:41:18,474 INFO sqlalchemy.engine.Engine SELECT destinations.destination_id, destinations.name, destinations.country, destinations.price_per_person
FROM destinations
WHERE destinations.price_per_person > %(price_per_person_1)s
2025-07-09 14:41:18,476 INFO sqlalchemy.engine.Engine [cached since 11.97s ago] {'price_per_person_1': 400}
Alice - alice@example.com - 0601010101
Bob - bob@example.com - 0602020202
Charlie - charlie@example.com - 0603030303
Dina - dina@example.com - 0604040404
Elias - elias@example.com - 0605050505
(2, 'Tokyo', 'Japan', 800.0)
(4, 'New York', 'USA', 600.0)
2025-07-09 14:41:18,478 INFO sqlalchemy.engine.Engine ROLLBACK

Récupérer des informations combinées entre plusieurs tables.